{% extends "shop/shop.html" %}
{% load static %}

{% block content %}
	
	
    <div id="main" class="recipe-list">
        <h1 style="font-size: 50px">Receptes</h1>
        {% for recipe in recipes %}
    	 <div class="item">
		<div class="card" style="width: 100%;overflow-x: auto;">
			<img class="card-img-top" src="{% if recipe.image %}{{ recipe.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
		  	<div class="card-body">
		    	<h5 class="card-title"><a href="">{{ recipe.title }}</a></h5>
		    	<p class="card-text"><li>{{ recipe.text|linebreaksbr }}</li></p>
		    	<a href="#" class="btn btn-primary">Veure recepta</a>
		  	</div>
		  </div>
		</div>
	
	{% endfor %}
    </div>
	
{% endblock %}

