{% extends "shop/shop.html" %}
{% load static %}

{% block content %}
	<h1 style="font-size: 50px">Receptes</h1>
	
    {% for recipe in recipes %}

		<div class="recipe">
				<h1 style="margin-bottom: 1;"><a href="">{{ recipe.title }}</a></h1>
				<div class="ex2">
					<img src="{% if recipe.image %}{{ recipe.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
					<li>{{ recipe.text|linebreaksbr }}</li>
				</div>

				
				<p style="font-size: 12px; padding: 7px">Publicat: {{ recipe.published_date }}</p>
		</div> 
		{% endfor %}
	
{% endblock %}