{% extends "shop/shop.html" %}

{% block title %}Resetejar contrasenya{% endblock %}

{% block content %}
    <h1>Resetejar contrasenya</h1>
    {% if validlink %}
        <p>Introdueix la nova contrasenya:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <p>El link de reseteig es invàlid, possiblement perquè ja ha estat usat. Si us plau, torna a resetajar la contrasenya.</p>
    {% endif %}
{% endblock %}
